body {
  font: 10px sans-serif;
}

.message_box {
    position: absolute;
    background-color:rgba(0, 128, 255, 0.4);
    width: 100%;
    height: 100%;
    z-index:    10;
    top:        0; 
    left:       0; 
    text-align: center;
}

.message_box div {
    width: 80%;
    height: 80%px;
    padding: 20px;
    background: white;
    display: inline-block;
    margin-top: 40px;
    font-size: 16px;
}

p { text-align: justify; }

.button {
    padding: 15px;
    background: rgba(0, 128, 255, 0.4);
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.button:hover {
    background: rgba(0, 128, 255, 0.2);
}
.button small {
    font-weight: normal;
    color: grey;
}

.exp_button {
    padding: 5px;
    margin: 7px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: white;
}
.exp_button.fo {
    background: green;
}
.exp_button.stop {
    background: red;
}
.exp_button:hover {
    opacity: 0.8;
}

.feedback {
    padding: 5px;
    margin: 7px;
    font-size: 23px;
    text-align: center;
    color: white;
    background: black;
}


.header {
  width: 100%;
  text-align: center;
  bottom-padding: 10px;
}

.kpiblock {
    width: 120px;
    text-align: center;
    display: inline-block;
}

.bignumber {
    font: 30px sans-serif;
    display: inline-block;
    width: 400px;
    color: gray;
}
.bignumber span { color: black; }

.experiments {
    text-align: center;
}

.exp_box {
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0, 128, 255, 0.4);
    margin: 3px;
}

.exp_name {
    font-size: 18px;
    color: rgba(0, 128, 255, 0.8);
}   

.exp_box_hoverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 128, 255, 0.2);
}
.exp_box_hoverlay:hover {
    opacity: 1;
}

.exp_box_overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 128, 255, 0.8);
}

.runtime {
    font-size: small;
    vertical-align: middle;
    color: black;
    --padding: 10px;
}

table {
    padding: 5px;
    font-size: 12px;
}

tr.header {
    background-color: rgba(0, 128, 255, 0.2);
}
tr.header td {
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

td {
    text-align: right;
}

.correct { background-color: green; opacity: 1; }
.correct:hover { background-color: green; opacity: 1; }
.incorrect { background-color: red; opacity: 1; }
.incorrect:hover { background-color: red; opacity: 1; }

.ci {
    height: 10px;
    display: inline-block;
}
.ci.left.base { background-color: orange; }
.ci.left:not(.base) { background-color: red; }
.ci.middle { background-color: orange; }
.ci.right.base { background-color: orange; }
.ci.right:not(.base) { background-color: green; }

.waiting {
    position: absolute;
    background-color:rgba(128, 128, 128, 0.8);
    width: 100%;
    height: 100%;
    z-index:    100;
    top:        0;
    left:       0;
    text-align: center;
    cursor: wait;
    color: white;
    font-size: xx-large;
    display: table;
}
.waiting span {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

.wham {
    position: absolute;
    background-color:rgba(128, 128, 128, 0.8);
    width: 100%;
    height: 100%;
    z-index:    100;
    top:        0;
    left:       0;
    text-align: center;
    font-weight: bold;
    line-height: 90%;
    color: white;
    font-size: 200px;
    display: table;
}
.wham span {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}