body {
  font: 10px sans-serif;
}

.message_box {
    position: absolute;
    background-color:rgba(0, 128, 255, 0.4);
    width: 100%;
    height: 100%;
    z-index:    10;
    top:        0; 
    left:       0; 
    text-align: center;
}

.message_box div {
    width: 80%;
    height: 80%px;
    padding: 20px;
    background: white;
    display: inline-block;
    margin-top: 40px;
    font-size: 16px;
}

p { text-align: justify; }
.text-muted { color: grey; }

.button {
    padding: 15px;
    background: rgba(0, 128, 255, 0.4);
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.button:hover {
    background: rgba(0, 128, 255, 0.2);
}
.button small {
    font-weight: normal;
    color: grey;
}

.exp_button {
    padding: 5px;
    margin: 7px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: white;
}
.exp_button.fo {
    background: green;
}
.exp_button.stop {
    background: red;
}
.exp_button:hover {
    opacity: 0.8;
}

.feedback {
    padding: 5px;
    margin: 7px;
    font-size: 23px;
    text-align: center;
    color: white;
    background: black;
}


.header {
  width: 100%;
  text-align: center;
  bottom-padding: 10px;
}

.kpiblock {
    width: 120px;
    text-align: center;
    display: inline-block;
}

.bignumber {
    font: 30px sans-serif;
    display: inline-block;
    width: 400px;
    color: gray;
}
.bignumber span { color: black; }

.experiments {
    text-align: center;
}

.exp_box {
    display: inline-block;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.4);
    margin: 3px;
}

.exp_name {
    font-size: 18px;
    color: rgba(0, 128, 255, 0.8);
}   

.exp_box_hoverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 128, 255, 0.2);
}
.exp_box_hoverlay:hover {
    opacity: 1;
}

.exp_box_overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 128, 255, 0.8);
}

.runtime {
    font-size: small;
    vertical-align: middle;
    color: black;
    --padding: 10px;
}

table {
    padding: 5px;
    font-size: 12px;
    line-height: 18px;
}

thead {
    background-color: rgba(128, 128, 128, 0.2);
}
thead th {
    padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}

td {
    text-align: right;
    vertical-align: top; 
}

.correct { background-color: green; opacity: 1; }
.correct:hover { background-color: green; opacity: 1; }
.incorrect { background-color: red; opacity: 1; }
.incorrect:hover { background-color: red; opacity: 1; }

.waiting {
    position: absolute;
    background-color:rgba(128, 128, 128, 0.8);
    width: 100%;
    height: 100%;
    z-index:    100;
    top:        0;
    left:       0;
    text-align: center;
    cursor: wait;
    color: white;
    font-size: xx-large;
    display: table;
}
.waiting span {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

.wham {
    position: absolute;
    background-color:rgba(128, 128, 128, 0.8);
    width: 100%;
    height: 100%;
    z-index:    100;
    top:        0;
    left:       0;
    text-align: center;
    font-weight: bold;
    line-height: 90%;
    color: white;
    font-size: 200px;
    display: table;
}
.wham span {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

.significant.good        {background-color: #CEE5C3;}
.highly-significant.good {background-color: #55AF32;}
.significant.bad         {background-color: #F5BEBF;}
.highly-significant.bad  {background-color: #E52923;}
.significant.ugly        {background-color: #d6bde0;}
.highly-significant.ugly {background-color: #8e4eab;}

svg .bg                     {fill: rgb(225, 229, 234); stroke: #C3CBD5; border-radius: 0; }
svg .bg_less                {stroke-dasharray: 0,50,18,50; }
svg .bg_more                {stroke-dasharray: 0,50,18,50,18; }
svg .bg_significant_bad     {fill: #f5bebf; stroke: #EE9192; }
svg .bg_significant_good    {fill: #cee5c3; stroke: #A7D194; }
svg .bg_significant_ugly    {fill: #d6bde0; stroke: #8e4eab; }

svg .ci_svg                 {stroke-width: 0; opacity: 0.7; }
svg .ci_svg:hover           {opacity: 1; }
svg .ci_inconclusive        {fill: rgba(53,94,151,1); }
svg .ci_significant_good    {fill: #55af32 !important; }
svg .ci_significant_bad     {fill: #e52923 !important; }
svg .ci_significant_ugly    {fill: #761b9e !important; }

svg .est                    {stroke: white; stroke-width: 4px; stroke-linecap: round; stroke-dasharray: 0, 7; stroke-dashoffset: -6;}
svg .line                   {stroke: white; stroke-width: 4px; opacity: 1; }