<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AB Result Display Scratchpad</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="confidence.css">

    <script type="text/javascript" src="vue/vue.js"></script>
    <script type="text/javascript" src="jstat/jstat.min.js"></script>
    <script type="text/javascript" src="experiment.js"></script>
  </head>
  <body>
    <div id="app-tester" class="container mx-auto">
      <br />
      <div class="grid grid-cols-1 gap-4">
        <div>
          <div class="rounded-lg bg-gray-50 p-4">
            <h2>A/B Testing Significance</h2>
          </div>

          <form class="grid grid-cols-2 gap-4">
            <div>
              <label for="atraffic">A traffic</label>
              <input v-model="input.b.traffic" type="number" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="atraffic" placeholder="Number of visitors in A"/>
            </div>
            <div>
              <label for="aconv">A conversions</label>
              <input v-model="input.b.conversions" type="number" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="aconv" placeholder="Number of conversions in A"/>
            </div>
            <div>
              <label for="btraffic">B traffic</label>
              <input v-model="input.v.traffic" type="number" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="btraffic" placeholder="Number of visitors in B"/>
            </div>
            <div>
              <label for="bconv">B conversions</label>
              <input v-model="input.v.conversions" type="number" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="bconv" placeholder="Number of conversions in B"/>
            </div>
            <div class="col-span-2">
              <label for="pval">Significance threshold (p-value)</label>
              <input v-model="input.pval" type="number" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="pval" placeholder="Significance threshold (p-value)"/>
            </div>
          </form>
          <br />

          <div class="rounded-md bg-yellow-50 p-4" v-if="experiment.get_srm_p(1) < 0.005">
            <em>Warning.</em> Possible sample ration mismatch detected ({{ display_srm_p }}).
            The observed ratio of visitors in base does not match the expected ratio of 50% of traffic.
            This is an indicator for randomisation failure or missing data issues.
            <strong>Computed statistics may be invalid as a result.</strong>
          </div>

          <div class="rounded-lg bg-white shadow-md">
            <div class="border-b border-gray-200 px-4 py-2">
              <strong>Experiment</strong>
            </div>
            <experiment-table :e="experiment"></experiment-table>
          </div>

          <div class="text-center" v-if="experiment.get_srm_p(1) >= 0.005">
            <small class="text-gray-500">No indication of sample ration mismatch ({{ display_srm_p }}).</small>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    tester = new Vue({
      el: '#app-tester',
      data: {
        input: {
          b: { traffic: 10000, conversions: 500 },
          v: { traffic: 10000, conversions: 560 },
          pval: 0.1,
        },
        e: new Experiment(0)
      },
      computed: {
        experiment: function(val) {
          this.e.set_pval(this.input.pval);
          this.e.visits = [parseInt(this.input.b.traffic), parseInt(this.input.v.traffic)];
          this.e.conversions = [parseInt(this.input.b.conversions), parseInt(this.input.v.conversions)];
          return this.e;
        },
        display_srm_p: function() {
          if (this.e.get_srm_p(1) < 0.0001) {
            return "p < 0.0001";
          } else {
            return "p = " + this.e.get_srm_p(1).toFixed(4);
          }
        }
      }
    });
  </script>

  <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  </body>
</html>
